* {
  box-sizing: border-box;
  
}


/* Style the header */
.header {
  background-color: #ffefcf;
  padding: 30px;
  text-align: center;
  font-size: 35px;
 
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
  text-align: justify;
  column-gap: 40px;
  background-color: #000000;
  color:#ffefcf;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
    margin: 30px auto;
    width: 100%;
    background-color: #000000;
    margin: 10px auto;
    
}

nav ul, footer ul {
    font-family:'bahnschrift', 'Sans-Serif';
    padding: 10px;
    font-size: 13px;
    list-style: none;
    font-weight: bold;
    margin: 10px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    
}
a {
    text-decoration: none;
    color: #775b3e;
    font-size:15px;
    font-family: 'bahnschrift', 'Sans-Serif';
}
a:hover {
    text-decoration: underline;
    color: 8daa99;
}

h1 {
    font-size: 3em;
    font-family:'bahnschrift','Sans-Serif';
    text-align: center;
    line-height: 1.2;
    color: #ffefcf;
    letter-spacing: 2px;
    
}


h2 {
    font-size: 15px;
    padding: 30px;
    text-align: center;
    font-family:'bahnschrift','Sans-Serif';
    line-height: 1.6;
    color:#ffefcf;
}


h3 {
    font-size: 12px;    
}

p {
    font-size: 15px;
    line-height: 1.4em;
    color: #ffefcf;
    text-align: center;
    font-family:'bahnschrift','Sans-Serif';
    
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



.btn {
  background-color: #ffefcf;
  color: #000000;
 text-align: center;
  border-radius: 3px;
  padding: 10px;
  margin:3px;
  display: flex;
  flex-wrap: wrap;
}


.container {
  height: 100px;
  position: relative   
  align-content: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
